@import url(//fonts.googleapis.com/css?family=Oxygen);

* {
    margin: 0;
    padding: 0;

    font-family: 'Oxygen', monospace;
}

.wrapper {
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    padding: 10px;
    background: dimgray;
    color: white;

    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-wrap: wrap;
}

.info, .addUser {
    padding: 5px;
}

.addUser input, select {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}
.addUser {
    flex: 1;
    order: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.addUser * {
    height: 1.5em;
}
.addUserButton {
    order: 2;
    width:50%;
    border-radius: 5px;
    font-weight: bold;
}

.addUserButton button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}
.addUserData{
    order: 1;
}

.info {
    min-width: 200px;
    flex: 1;
    order: 1;
}

input.size {
    width: 3em;
}

.table {
    background: cornsilk;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    flex-direction: column;
    /*font-size: 1em;*/
}

.tableHeader, .tableRow{
    width: 100%;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    font-size: 1em;
}
.tableHeader {
    font-weight: bold;
    /*font-family: bold;*/
}

.tableRow input, select {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

.id, .firstName, .lastName, .birthDay, .gender, .action, .addUserButton {
    border: 1px solid dimgray;
    /*padding: 1px;*/
    height: 100%;
}

.id {
    flex-basis: 5%;
    min-width: 25px;
}
.firstName, .lastName {
    flex-basis: 25%;
    min-width: 180px;
}
.birthDay {
    flex-basis: 15%;
    min-width: 150px;
}
.gender, .action {
    flex-basis: 10%;
    min-width: 90px;
}

input.id {
    width: 30px;
}
input.firstName, input.lastName {
    width: 200px;
}
input.birthDay {
    width: 150px;
}
input.gender {
    width: 50px;
}

.page-links-panel {
    width: 100%;
    background: dimgray;
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: nowrap;
    justify-content: center;
}

.page-link {
    padding: 10px 16px;
    color: cornsilk;
    width: 35px;
    height: 25px;
    margin-top: 10px;

    line-height: 20px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

a:link, a:visited, a:hover {
    color: white;
}

.tableRow .edit,
.tableRow .save,
.tableRow .delete {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 1px 1px 1px 1px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    /*-ms-transition: all .3s ease-in-out;*/
    transition: all .3s ease-in-out;
}

.tableRow .edit {
    background: url(../img/edit.png);
}

.tableRow .save {
    display: none;
    background: url(../img/save.png);
}

.save.active {
    display: inline-block;
}

.tableRow .delete {
    background: url(../img/delete.png);
}

.tableRow .edit:hover {
    background: url(../img/edit-hover.png);
}

.tableRow .save:hover {
    background: url(../img/save-hover.png);
}

.tableRow .delete:hover {
    background: url(../img/delete-hover.png);
}

.loader {
    position: absolute;
    /*top: 0px;*/
    /*left: 0px;*/
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 910;
}

.loader img {
    width: 130px;
    height: auto;
}