.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 80%;
}


.header {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: nowrap;
    justify-content: center;
}

.header-item {
    margin: auto;
}

.table {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: nowrap;
    justify-content: center;
    flex-direction: column;
}

.table-item {
    margin: auto;

    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: nowrap;
    justify-content: space-around;
}
.column {
    margin: auto;
}
.id {
    flex-grow:1;
}
.firstName .lastName {
    flex-grow:3;
}
.birthDay .gender {
    flex-grow:2;
}
.body-table {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: nowrap;
    justify-content: center;
    flex-direction: column;
}

.item-user-wrap {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: nowrap;
    justify-content: center;
}

.page-links-panel {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: nowrap;
    justify-content: center;
}

.page-link {
    background: tomato;
    padding: 5px;
    width: 35px;
    height: 25px;
    margin-top: 10px;

    line-height: 20px;
    color: yellow;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.item-user-wrap .edit,
.item-user-wrap .save,
.item-user-wrap .delete {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 15px 0px 5px 5px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.item-user-wrap .edit {
    background: url(../img/edit.png);
}

.item-user-wrap .save {
    display: none;
    background: url(../img/save.png);
}

.save.active {
    display: inline-block;
}

.item-user-wrap .delete {
    background: url(../img/delete.png);
}

.item-user-wrap .edit:hover {
    background: url(../img/edit-hover.png);
}

.item-user-wrap .save:hover {
    background: url(../img/save-hover.png);
}

.item-user-wrap .delete:hover {
    background: url(../img/delete-hover.png);
}

.loader {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 910;
}

.loader img {
    width: 130px;
    height: auto;
}