<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Test CRUD App</title>
  <link rel="stylesheet"
        href="../static/css/style.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto" >
</head>
<body>
<div class="wrapper">
  <div class="header">
    <div class="header-item add-user"><button type="button" id="addButton">Add user</button></div>
  </div>

  <div class="table">
    <div class="header-table">
        <div class="id">Id</div>
        <div class="firstName">First Name</div>
        <div class="lastName">Last Name</div>
        <div class="birthDay">Birth Day</div>
        <div class="gender">Gender</div>
        <div class="action">Action</div>
    </div>
    <div class="body-table"></div>
  </div>

  <div class="page-links-panel"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/js/script.js"></script>
</div>
</body>

</html>